{% extends 'base.html' %}
{% block style %}
<link href="/static/css/main.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="con_content">
    <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">个人日记</a></span><b>个人日记</b></h2>
      <div class="dtxw box">
        {% for article in page %}
        <li>
          <div class="dttext">
            <div class="xwpic"><a href="/"><img src="/static/{{ article.picture }}"></a></div>
            <ul>
              <h2><a href="/article/{{ article.id }}">{{ article.title }}</a></h2>
              <p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">{{ article.description |safe}}</p>
              <div class="binfo"><span class="lm"><a href="/">个人日记</a></span><span>已有100人阅读</span><span class="atime">{{ article.time }}</span></div>
            </ul>
          </div>
        </li>
        {% endfor %}

      </div>
      <div class="pagelist"><a href="/lists/{{ id }}/?page=1">首页</a>
          {% for i in p.page_range %}
          <a href="/lists/{{ id }}/?page={{ i }}">{{ i }}</a>
          {% endfor %}

          <a href="/lists/{{ id }}/?page={{ p.num_pages }}">尾页</a></div>
    </div>
  </div>

{% endblock %}