{% extends 'base.html' %}
{% block style %}
<link href="/static/css/main.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="con_content">
    <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">个人相册</a></span><b>个人相册</b></h2>
      <div class="lispic">
        <ul>
          <li><a href="/"><i><img src="/static/images/01.jpg"></i><span>图片展示</span></a></li>
          <li><a href="/"><i><img src="/static/images/02.jpg"></i><span>图片展示</span></a></li>
          <li><a href="/"><i><img src="/static/images/03.jpg"></i><span>图片展示</span></a></li>
          <li><a href="/"><i><img src="/static/images/04.jpg"></i><span>图片展示</span></a></li>
          <li><a href="/"><i><img src="/static/images/03.jpg"></i><span>图片展示</span></a></li>
          <li><a href="/"><i><img src="/static/images/06.jpg"></i><span>图片展示</span></a></li>
          <li><a href="/"><i><img src="/static/images/01.jpg"></i><span>图片展示</span></a></li>
          <li><a href="/"><i><img src="/static/images/02.jpg"></i><span>图片展示</span></a></li>
        </ul>
      </div>
      <div class="pagelist"><a href="/">首页</a><a href="/">上一页</a><a href="/">下一页</a><a href="/">尾页</a></div>
    </div>
  </div>
{% endblock %}
