<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>
   生活随笔 -美文故事-散文随笔- 文章阅读网
  </title>
  <meta content="生活随笔" name="keywords"/>
  <meta content="本站提供精美的生活随笔的免费在线阅读。" name="description"/>
  <link href="http://www.duwenzhang.com/templets/img/default.css" rel="stylesheet" type="text/css"/>
  <base target="_blank"/>
 </head>
 <body>
  <center>
   <table align="center" border="0" cellpadding="0" cellspacing="0" class="tbspan" width="900">
    <tr>
     <td align="center" height="68" width="190">
      <a href="http://www.duwenzhang.com" target="_blank">
       <img alt="文章故事" border="0" height="53" src="http://www.duwenzhang.com/templets/img/logo_tg.gif" width="178"/>
      </a>
     </td>
     <td align="center" width="20">
     </td>
     <td width="486">
      <div id="mad1">
      </div>
     </td>
     <td width="190">
      <script language="javascript" src="/topr.js" type="text/javascript">
      </script>
     </td>
    </tr>
   </table>
   <table border="0" cellpadding="0" cellspacing="0" width="900">
    <tr>
     <td>
      <div>
       <div class="book_left_commend_l">
       </div>
       <div class="book_left_commend_ct">
        <a href="http://www.duwenzhang.com/">
         短篇·散文
        </a>
       </div>
       <div class="book_left_commend_r">
       </div>
      </div>
      <div class="book_left_commend_t">
       <div class="book_right_new_l">
       </div>
       <div class="book_right_new_ct">
        <a href="http://xs.duwenzhang.com/">
         连载·小说
        </a>
       </div>
       <div class="book_right_new_r">
       </div>
      </div>
     </td>
    </tr>
   </table>
   <table border="0" cellpadding="0" cellspacing="0" class="tbspan" width="900">
    <tr>
     <td width="7">
      <img height="7" src="/img/redleftt.png" width="7"/>
     </td>
     <td class="sprite-redhort">
     </td>
     <td class="sprite-redlt" width="7">
     </td>
    </tr>
    <tr>
     <td class="sprite-redvert0111">
     </td>
     <td class="daohang">
      <a href="http://www.duwenzhang.com/">
       首页
      </a>
      |
      <a href="http://www.duwenzhang.com/wenzhang/aiqingwenzhang/">
       爱情文章
      </a>
      |
      <a href="http://www.duwenzhang.com/wenzhang/qinqingwenzhang/">
       亲情文章
      </a>
      |
      <a href="http://www.duwenzhang.com/wenzhang/youqingwenzhang/">
       友情文章
      </a>
      |
      <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/">
       生活随笔
      </a>
      |
      <a href="http://www.duwenzhang.com/wenzhang/xiaoyuanwenzhang/">
       校园文章
      </a>
      |
      <a href="http://www.duwenzhang.com/wenzhang/jingdianwenzhang/">
       经典文章
      </a>
      |
      <a href="http://www.duwenzhang.com/wenzhang/renshengzheli/">
       人生哲理
      </a>
      |
      <a href="http://www.duwenzhang.com/wenzhang/lizhiwenzhang/">
       励志文章
      </a>
      |
      <a href="http://www.duwenzhang.com/wenzhang/gaoxiaowenzhang/">
       搞笑文章
      </a>
      |
      <a href="http://www.duwenzhang.com/wenzhang/xinqingriji/">
       心情日记
      </a>
      |
      <a href="http://www.duwenzhang.com/wenzhang/yingyuwenzhang/">
       英语文章
      </a>
      |
      <a href="http://www.duwenzhang.com/member">
       会员中心
      </a>
     </td>
     <td class="sprite-redvert2">
     </td>
    </tr>
    <tr>
     <td class="sprite-redleftb">
     </td>
     <td class="sprite-redhorit222">
     </td>
     <td>
      <img height="7" src="/img/redrt.png" width="7"/>
     </td>
    </tr>
   </table>
   <table border="0" cellpadding="0" cellspacing="0" class="tbspan" width="900">
    <tr>
     <td width="7">
      <img height="7" src="/img/yellowlt.png" width="7"/>
     </td>
     <td class="sprite-yellowhorit" colspan="3">
     </td>
     <td class="sprite-yellowrt" width="7">
     </td>
    </tr>
    <tr>
     <td class="sprite-yellowlef">
     </td>
     <td valign="bottom" width="60">
      文章搜索:
     </td>
     <td width="300">
      <form action="http://zhannei.baidu.com/cse/site" target="_blank">
       <input name="q" size="30" type="text"/>
       <input type="submit" value="搜索"/>
       <input name="cc" type="hidden" value="duwenzhang.com"/>
       <input name="ie" type="hidden" value="gbk"/>
      </form>
     </td>
     <td valign="bottom">
      手机阅读网址：
      <font color="FF0000">
       m.duwenzhang.com
      </font>
     </td>
     <td class="sprite-yellowvf">
     </td>
    </tr>
    <tr>
     <td class="sprite-yellowlf">
     </td>
     <td class="sprite-yellowbt" colspan="3">
     </td>
     <td>
      <img height="7" src="/img/yellowrj.png" width="7"/>
     </td>
    </tr>
   </table>
   <table align="center" border="0" cellpadding="0" cellspacing="0" class="tbspan" width="900">
    <tr>
     <td colspan="2" height="1">
     </td>
     <td align="right" rowspan="2" valign="top" width="224">
      <table border="0" cellpadding="0" cellspacing="0" class="tbspan" width="100%">
       <tr>
        <td>
         <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
           <td colspan="3" height="4">
           </td>
          </tr>
          <tr>
           <td width="7">
            <img height="25" src="/img/greenl.png" width="7"/>
           </td>
           <td align="center" class="green sprite-greenc">
            会员发表文章
           </td>
           <td width="7">
            <img height="25" src="/img/greenr.png" width="7"/>
           </td>
          </tr>
         </table>
        </td>
       </tr>
       <tr>
        <td>
         <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
           <td width="7">
            <img height="8" src="/img/greenlef.png" width="7"/>
           </td>
           <td class="sprite-greenhor111">
           </td>
           <td class="sprite-greenrig" width="7">
           </td>
          </tr>
          <tr>
           <td class="sprite-greenveslef">
           </td>
           <td height="50" valign="top">
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200513/415296.html">
             脸上的脚印
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200513/415294.html">
             等死难挨
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200513/415293.html">
             善人命不长
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200513/415292.html">
             我只是我
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200513/415290.html">
             老家的东苇湾
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200513/415288.html">
             喜蹭酒者
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200513/415287.html">
             依赖症
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200513/415282.html">
             成年人的心酸
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200513/415280.html">
             82，爱情是雾里看花
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200513/415278.html">
             清言
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200513/415274.html">
             风吹麦浪满地香
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200512/415269.html">
             奇闻
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200512/415268.html">
             静心观棋
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200512/415267.html">
             母亲节感言
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200512/415266.html">
             沉静者
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200512/415265.html">
             感悟
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200512/415254.html">
             那些看似玩笑的话，往往最真
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200512/415253.html">
             得失一念间
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200512/415250.html">
             一棵海桐树
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200512/415240.html">
             变成老人
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200512/415239.html">
             老同学喝早茶
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200512/415238.html">
             立夏随想
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200512/415232.html">
             清言
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200512/415228.html">
             不要‘没有不快乐’
            </a>
            <br/>
           </td>
           <td class="sprite-greenves">
           </td>
          </tr>
          <tr>
           <td class="sprite-greenleg">
           </td>
           <td class="sprite-greenhos">
           </td>
           <td>
            <img height="7" src="/img/greenrih.png" width="7"/>
           </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>
    <tr>
     <td height="476" rowspan="3" valign="top">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
       <tr>
        <td width="7">
         <img height="25" src="/img/bluel.png" width="7"/>
        </td>
        <td class="pindao sprite-bluec">
         当前位置：
         <a href="http://www.duwenzhang.com/">
          文章故事
         </a>
         &gt;
         <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/">
          生活随笔
         </a>
         &gt;短文列表
        </td>
        <td width="7">
         <img height="25" src="/img/bluer.png" width="7"/>
        </td>
       </tr>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
       <tr>
        <td width="7">
         <img height="8" src="/img/blueleft2.png" width="7"/>
        </td>
        <td class="sprite-bluetop2">
        </td>
        <td class="sprite-bluerigh2" width="7">
        </td>
       </tr>
       <tr>
        <td class="sprite-bluelef2">
        </td>
        <td valign="top">
         <div align="left" id="gad5">
          <script language="JavaScript" src="/a6d6.js" type="text/javascript">
          </script>
         </div>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             [
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/">
              生活感悟
             </a>
             ]
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20200513/415299.html">
              <b>
               写在二十八岁这一天
              </b>
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2020-05-13 18:35:48 点击：0 评论：4
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            人的一生，要走许多路，才能确定前行的方向；世间百态你都要一一目睹，才知道谁才是与你同行的人。 ---题记 深夜总是情绪泛滥成灾的时候，本以为我会选在一个清爽的早晨，以最好的状态来迎接自己的生日。不曾想最终还是在一个月朗星稀的夜晚，怀着不可名状的心情来记录
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             [
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/">
              生活感悟
             </a>
             ]
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20200510/415160.html">
              找一个可以说话的人
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2020-05-10 18:48:15 点击：506 评论：1
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            有时候，我们不说话，不等于没有话说。有时候，是别人磨叽得太多，自己不想说了；有时候，是自己顾虑得太多，最终无心说了。 因为说了未必有人会听，听了未必有人会懂。不听，最多是失望；而不懂，才会真正的叫人绝望。还是不说了吧，怕一出口，就伤了自己。 有些人你
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             [
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/">
              生活感悟
             </a>
             ]
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20200419/414443.html">
              聪明人，三不笑，三不说，三不吵！
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2020-04-19 11:35:34 点击：3256 评论：6
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            聪明人，看透不说透，看穿不拆穿，给别人留余地，给自己留退路，他们不会去争，不会去抢，更不会斤斤计较。 做人，就要做一个聪明人，保持一颗平常心，去接人待物，万不可自作聪明。 聪明人，三不笑，三不说，三不吵，正因为如此，他们更能赢得他人的尊重。 1、不笑别
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200329/413690.html">
              心如晴空
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2020-03-29 08:58:52 点击：4814 评论：7
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            心如晴空 觉悟者说，心里别装人，除去憎爱；心里别装事儿，除去是非；心里别装物，除去贪恋。心里要装去往圣境的决心，修为的经典，做到心如晴空。我想，如果能做到这些，就是真正的觉者了吧。 心里装着人，无非是可爱的人和可恨的人，心里装着伤害过你的人，你讨厌的
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200323/413456.html">
              一个人，一个人，一个人，一个人，一个人…
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2020-03-23 11:28:21 点击：4821 评论：4
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            一个人 穷一点可以，但人穷志不能穷！ 不要成为了人穷志短的人， 要勇闯世界，做不了顶天立地的人， 最起码要做个有用的人， 做个对得起自己的人。 一个人 丑一点可以，但人丑心不能丑！ 仁慈善良不在乎一个人的外表， 只在乎人的内心！ 一个人 瘦小一点可以，但人小心
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200313/413127.html">
              烦恼复发
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2020-03-13 19:48:14 点击：2731 评论：6
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            去年四月，我从广州回老家南县拜谒父母。电话里和一帮高中同学相约十五号在县城小聚。 出发那天，天公作美，风和日丽。我带着夫人，就着那一望无际的油菜花的芳香，踏着燕子北上的节奏，像去赴初恋约会，满怀期待的登上回家的列车。一路上，手机响个不停，同学们一个劲
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20200107/411128.html">
              只要活着
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2020-01-07 18:51:44 点击：9456 评论：9
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            只要活着 在我家的附近，有一座桥，涡河三桥。它不仅是连接城南北的重要交通要道，也是榴城一道亮丽的风景线。最近几天，我喜欢一个人到三桥下面寻望，不为景色，不为休闲，也不是去锻炼，而是探寻生命为何如此脆弱。 三桥采用的是钢梁下承式拱桥，远看仿佛一道河上彩
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             [
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/">
              生活感悟
             </a>
             ]
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20191218/410597.html">
              《故事里的人生》（411 富贵无边）
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2019-12-18 07:59:20 点击：5902 评论：15
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            《故事里的人生》411 富贵无边 中国著名国画家俞仲林擅长画牡丹。在一次个人画展中，某人慕名买了一幅俞仲林亲手所绘的《牡丹图》，回去以后，很高兴地挂在客厅里。此人的一位朋友看到了，大呼不吉利，因为这丛牡丹中，有一朵牡丹花正好被画在边缘上，只有半朵。而价值
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20191216/410561.html">
              我在远方，思你如故
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2019-12-16 19:47:02 点击：12860 评论：20
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            秋风，摇曳着半城轩窗如凉，澜澜的夜空一抹雨声中嘀嗒嘀嗒。我在远方，愁思无端晕染着诗笺，瘦如骨，思如故，心潋滟在字里行间，浣起一朵静香的幽兰。随季节流转，十里长亭望眼欲穿，屏住呼吸，放养一袭水湄中的清然。 在这深秋的时节，看晨曦把黄昏遍染，掬一捧春思念
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20191216/410549.html">
              活着，比什么都好
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2019-12-16 15:21:16 点击：10965 评论：10
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            明白这句话的时候，是在经历了许多事情以后。 年少时，天真的以为生命是一条平坦大道，未来的人生阳光灿烂，一片光明，这个世界没有我们做不了的事情，少年的豪情壮志气盖云天。长大以后才知道，原来这个世界远非自己想象的那么简单。生命的旅途不都是晴天丽日，人生充
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20191215/410511.html">
              故乡的炊烟
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2019-12-15 03:58:42 点击：8288 评论：16
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            清晨，我在海陵岛乡村的道路上晨练。突然被附近民居里飘出的炊烟所陶醉，多么亲切的炊烟啊！ 多年不见了，它缥缈如云，朦胧似梦，此刻，它让我不知自己身在何处何时，恍惚又回到了故乡，回到了童年…… 许多年前，在故乡的每一座瓦房或茅草房的前边，都有一根矗立怀念
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20191213/410467.html">
              当我们渐渐老去
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2019-12-13 02:02:08 点击：5792 评论：7
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            一提起“老去”，我的心里就五味杂陈，如果我能活到万岁、万万岁那该多好呀！可是，在时光默默的流逝当中，岁月的痕迹悄悄爬上了我的眼角，满头的青丝慢慢地换成了白发，敏捷的行动渐渐地变得步履蹒跚……所有这些，让我隐隐约约地感到：老去的影子一步一步向我逼近
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             [
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/">
              生活感悟
             </a>
             ]
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20191208/410322.html">
              <b>
               相互亏欠 交情不断
              </b>
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2019-12-08 07:28:52 点击：5948 评论：8
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            我从来就不是一个独立的人，也从没有独立生活过，直到来了加国。 然后发现，有生俱来的独立细胞瞬间苏醒，几乎可以万事不求人，独立自强到令自己刮目相看。 其实是环境使然，因为我也求不到人，举目无亲，求人不如求己。 一个人带着女儿东奔西走，上下求索，差心态朋友
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             [
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/">
              生活感悟
             </a>
             ]
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20191202/410167.html">
              隐居的遐想
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2019-12-02 12:36:03 点击：4839 评论：7
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            在如今这个大流动的环境中，面对无处不在甚至异常惨烈的生存，很多时候，当压力像乌云般袭来，我们首先想到的便是逃离，渴望“悠然见南山”的隐居，让身心得以休憩。但是，我们最终还是舍不得都市的种种美好，只能退而求其次，将就着隐居在都市。 虽然我们的房前屋后住
           </td>
          </tr>
         </table>
         <table border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:6px" width="100%">
          <tr>
           <td class="sprite-bluetop2" colspan="2" height="8">
           </td>
          </tr>
          <tr>
           <td align="center" height="26" width="5%">
            <img height="17" src="http://www.duwenzhang.com/templets/img/item.gif" width="18"/>
           </td>
           <td height="26">
            <b>
             <a class="ulink" href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20191128/410023.html">
              越长大越孤单
             </a>
            </b>
           </td>
          </tr>
          <tr>
           <td height="20" style="padding-left:3px">
           </td>
           <td style="padding-left:3px">
            <font color="#8F8C89">
             日期：2019-11-28 00:19:59 点击：9746 评论：14
            </font>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="padding-left:3px">
            彼此都不追究， 相邀再次喝酒， 待葡萄成熟透， 愿你的友谊，地久天长。 越长大，越孤单，我们已渐渐失去了生活的乐趣，成年人的世界，肩上扛着的就是我们那些所谓的责任和义务，走过的每一步，已不管是什么样的色彩，没有谁会去可怜去同情，抓不住的那些时光岁月，早
           </td>
          </tr>
         </table>
        </td>
        <td class="sprite-blueveru2">
        </td>
       </tr>
       <tr>
        <td class="sprite-bluelefu2">
        </td>
        <td class="sprite-bluehorj2">
        </td>
        <td>
         <img height="7" src="/img/bluerigi2.png" width="7"/>
        </td>
       </tr>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" class="tbspan" width="100%">
       <tr>
        <td align="center" height="25" style="border-bottom:1px dashed #0581E1">
         首页
1
         <a href="list_8_2.html" target="_self">
          [2]
         </a>
         <a href="list_8_3.html" target="_self">
          [3]
         </a>
         <a href="list_8_4.html" target="_self">
          [4]
         </a>
         <a href="list_8_5.html" target="_self">
          [5]
         </a>
         <a href="list_8_6.html" target="_self">
          [6]
         </a>
         <a href="list_8_7.html" target="_self">
          [7]
         </a>
         <a href="list_8_8.html" target="_self">
          [8]
         </a>
         <a href="list_8_9.html" target="_self">
          [9]
         </a>
         <a href="list_8_10.html" target="_self">
          [10]
         </a>
         <a href="list_8_11.html" target="_self">
          [11]
         </a>
         <a href="list_8_12.html" target="_self">
          [12]
         </a>
         <a href="list_8_13.html" target="_self">
          [13]
         </a>
         <a href="list_8_14.html" target="_self">
          [14]
         </a>
         <a href="list_8_15.html" target="_self">
          [15]
         </a>
         <a href="list_8_2.html" target="_self">
          下一页
         </a>
         <a href="list_8_102.html" target="_self">
          末页
         </a>
         共102页/1521篇
        </td>
       </tr>
      </table>
     </td>
     <td width="6">
     </td>
    </tr>
    <tr>
     <td rowspan="2">
     </td>
     <td height="1">
     </td>
    </tr>
    <tr>
     <td align="right" colspan="3" valign="top" width="224">
      <table border="0" cellpadding="0" cellspacing="0" class="tbspan" width="100%">
       <tr>
        <td>
         <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
           <td width="7">
            <img height="25" src="/img/redl.png" width="7"/>
           </td>
           <td align="center" class="red sprite-redc">
            本栏随机推荐
           </td>
           <td width="7">
            <img height="25" src="/img/redr.png" width="7"/>
           </td>
          </tr>
         </table>
        </td>
       </tr>
       <tr>
        <td>
         <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
           <td width="7">
            <img height="8" src="/img/redleftt.png" width="7"/>
           </td>
           <td class="sprite-redhorit111">
           </td>
           <td class="sprite-redright" width="7">
           </td>
          </tr>
          <tr>
           <td class="sprite-redvert0111">
           </td>
           <td height="50" valign="top">
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20090829/67518.html">
             纠缠不过是因为爱
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20160310/347780.html">
             快乐的活法
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20130124/247439.html">
             给心灵一米阳光
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20091107/77338.html">
             从生活中寻找乐趣（外一篇）
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20081021/22019.html">
             婚姻是一双鞋
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20071123/1302.html">
             不完美的完美
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20081206/27965.html">
             这个人就是你的妻子
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20111006/202246.html">
             活着不是为了生气
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20100804/152257.html">
             学会欣赏身边的人
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20080222/2858.html">
             淡然的女人
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/20080130/2238.html">
             让离开的离开
            </a>
            <br/>
            ·
            <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/20140313/284988.html">
             直面生活
            </a>
            <br/>
           </td>
           <td class="sprite-redvert2">
           </td>
          </tr>
          <tr>
           <td class="sprite-redleftb">
           </td>
           <td class="sprite-redhorit222">
           </td>
           <td>
            <img height="7" src="/img/redrt.png" width="7"/>
           </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
       <tr>
        <td>
         <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
           <td colspan="3" height="4">
           </td>
          </tr>
          <tr>
           <td width="7">
            <img height="25" src="/img/orangel.png" width="7"/>
           </td>
           <td align="center" class="orange sprite-orangec">
            相关子栏目
           </td>
           <td width="7">
            <img height="25" src="/img/oranger.png" width="7"/>
           </td>
          </tr>
         </table>
        </td>
       </tr>
       <tr>
        <td height="50" valign="top">
         <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
           <td width="7">
            <img height="8" src="/img/orangetl.png" width="7"/>
           </td>
           <td class="sprite-orangetop">
           </td>
           <td class="sprite-orangetr" width="7">
           </td>
          </tr>
          <tr>
           <td class="sprite-orangelt">
           </td>
           <td height="50" valign="top">
            <!-- cotalog templets-->
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
             <tr>
              <td align="left">
               ·经典
               <a href="http://www.duwenzhang.com/meiwen.html">
                美文
               </a>
               <br/>
               ·精美
               <a href="http://www.duwenzhang.com/sanwen.html">
                散文
               </a>
              </td>
             </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
             <tr>
              <td height="2">
              </td>
             </tr>
             <tr>
              <td align="right">
               <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                 <td align="left" bgcolor="#FFFFFF">
                  ·
                  <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/qushi/">
                   生活趣事
                  </a>
                 </td>
                </tr>
               </table>
              </td>
             </tr>
             <tr>
              <td height="2">
              </td>
             </tr>
             <tr>
              <td align="right">
               <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                 <td align="left" bgcolor="#FFFFFF">
                  ·
                  <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/gexing/">
                   个性文章
                  </a>
                 </td>
                </tr>
               </table>
              </td>
             </tr>
             <tr>
              <td height="2">
              </td>
             </tr>
             <tr>
              <td align="right">
               <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                 <td align="left" bgcolor="#FFFFFF">
                  ·
                  <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/shenghuoganwu/">
                   生活感悟
                  </a>
                 </td>
                </tr>
               </table>
              </td>
             </tr>
             <tr>
              <td height="2">
              </td>
             </tr>
             <tr>
              <td align="right">
               <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                 <td align="left" bgcolor="#FFFFFF">
                  ·
                  <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/chengzhang/">
                   成长文章
                  </a>
                 </td>
                </tr>
               </table>
              </td>
             </tr>
            </table>
           </td>
           <td class="sprite-orangevh">
           </td>
          </tr>
          <tr>
           <td class="sprite-orangelh">
           </td>
           <td class="sprite-orangeht">
           </td>
           <td>
            <img height="7" src="/img/orangerl.png" width="7"/>
           </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
      <br/>
      <table border="0" cellpadding="0" cellspacing="0" class="tbspan" width="98%">
       <tr>
        <td width="7">
         <img height="7" src="/img/yellowlt.png" width="7"/>
        </td>
        <td class="sprite-yellowhorit">
        </td>
        <td class="sprite-yellowrt" width="7">
        </td>
       </tr>
       <tr>
        <td class="sprite-yellowlef">
        </td>
        <td align="center">
         <div id="baiduad">
          <script language="JavaScript" src="/a2d2-pindaoyouce.js" type="text/javascript">
          </script>
         </div>
        </td>
        <td class="sprite-yellowvf">
        </td>
       </tr>
       <tr>
        <td class="sprite-yellowlf">
        </td>
        <td class="sprite-yellowbt">
        </td>
        <td>
         <img height="7" src="/img/yellowrj.png" width="7"/>
        </td>
       </tr>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="200">
       <tr>
        <td height="200">
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
   <table align="center" border="0" cellpadding="0" cellspacing="0" class="tbspan" width="900">
    <tr>
     <td style="padding-top:10px">
      <div align="left" id="gad6">
       <script language="JavaScript" src="/a8d8.js" type="text/javascript">
       </script>
      </div>
     </td>
    </tr>
   </table>
   <table align="center" bgcolor="#F5F5F5" border="0" cellpadding="0" cellspacing="0" class="tbspan" style="margin-top:20px" width="900">
    <tr>
     <td colspan="6">
     </td>
    </tr>
    <tr>
     <td align="center" height="51">
      Copyright © 2007-2014
      <a href="http://www.duwenzhang.com">
       文章阅读网
      </a>
      版权所有.
      <a href="http://www.duwenzhang.com">
       情感文章
      </a>
      ,
      <a href="http://www.duwenzhang.com/sanwen.html">
       散文
      </a>
      <a href="http://www.duwenzhang.com/wenzhang/shenghuosuibi/">
       随笔
      </a>
      ,
      <a href="http://www.duwenzhang.com/meiwen.html">
       美文
      </a>
      在线阅读
     </td>
     <td align="center">
     </td>
     <td align="center">
     </td>
     <td>
      <script src="http://cbjs.baidu.com/js/o.js" type="text/javascript">
      </script>
      <script type="text/javascript">
       BAIDU_CLB_fillSlotAsync('219165','mad1');
      </script>
     </td>
     <td>
     </td>
     <td align="center" width="70">
      <script language="javascript" src="/foot.js" type="text/javascript">
      </script>
     </td>
    </tr>
   </table>
  </center>
  <script data="type=slide&amp;img=0&amp;mini=1&amp;pos=right&amp;uid=608046" id="bdshare_js" type="text/javascript">
  </script>
  <script id="bdshell_js" type="text/javascript">
  </script>
  <script type="text/javascript">
   document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
  </script>
 </body>
</html>

